<div id="message-container">
  {{#if error}}
  <div class="alert alert-danger">{{error}}</div>
  {{/if}}
  {{#if message}}
  <div class="alert alert-info">{{message}}</div>
  {{/if}}
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Add a product</h2>

                    <form id="add-product-form">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" class="form-control" id="description" name="description" required>
                        </div>

                        <div class="form-group">
                            <label for="code">Code:</label>
                            <input type="text" class="form-control" id="code" name="code" required>
                        </div>

                        <div class="form-group">
                            <label for="category">Category:</label>
                            <input type="text" class="form-control" id="category" name="category" required>
                        </div>

                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="number" class="form-control" id="price" name="price" required>
                        </div>

                        <div class="form-group">
                            <label for="stock">Stock:</label>
                            <input type="number" class="form-control" id="stock" name="stock" required>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-lg mt-3 px-4" id="add-product-button">Add product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  document.getElementById('add-product-button').addEventListener('click', function() {
    const form = document.getElementById('add-product-form');
    const formData = new FormData(form);

    fetch('/api/products', {
      method: 'POST',
      body: JSON.stringify(Object.fromEntries(formData)),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.status === 'success') {
        window.location.href = '/store';
      } else {
        document.getElementById('message-container').innerHTML = `<div class="alert alert-danger">${data.payload}</div>`;
        setTimeout(function(){document.getElementById('message-container').innerHTML = '';}, 1500);
      }
    })
    .catch(error => console.error('Error:', error));
  });
</script>
