<h1 class="chat-heading">Chat with us</h1>
<form id="chatForm">
    <input type="text" id="chatInput" autocomplete="off" placeholder="Write here"/>
    <input type="submit" value="Send"/>
</form>
<div id="chatHistory"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>