<h2>Log In</h2>
{{#if emailError}}
    <p style="color:red">Email not registered</p>
{{/if}}
{{#if passwordError}}
    <p style="color:red">Incorrect password</p>
{{/if}}
{{#if loginError}}
    <p style="color:blue">You are not logged in</p>
{{/if}}
<form action="/api/sessions/login" method="post">
    <label>e-mail</label>
    <input type="email" name="email"/>
    <br>
    <label>Password</label>
    <input type="password" name="password"/>
    <br>
    <button type="submit">Log In</button>
    <br>
    <a href="/register">Register</a>
    <br>
    <a href="/auth/github">LogIn with Github</a>
</form>