* {
    margin: 10;
    padding: 10
}

form > * {
    display: block;
    padding: 5;
    margin: 0 auto;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
    color:rgb(54, 54, 54);
    font-size: 0.8rem;
}